:root {
  --primary-font-clr: #212122;
  --primary-bg-clr: #f0e1da;
  --secondary-bg-clr: #d5977e;
  --main-bg-clr: #f6f7f9;
}

body {
  background-color: var(--primary-bg-clr);
  color: var(--primary-font-clr);
  font-family: "Quicksand", sans-serif;
}

.navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 2em;
  padding-block: 0.5em;
}
.menu {
  width: 40px;
  height: 40px;
  margin-inline-end: 25em;
}
.nav-right {
  display: flex;
  gap: 1em;
  font-size: 23px;
  font-weight: 500;
  text-transform: uppercase;
}

.nav-right > a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  height: 80dvh;
  font-weight: 500;
  color: #f7f7f7;
}
.hero-left {
  width: 40%;
  height: auto;
}

.hero-title-main {
  margin: 0;
}

.hero-title-second {
  margin-block: 0.5em;
}
.hero-content {
  font-size: 23px;
  line-height: 1.7;
}
.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url(/media/flowers.jpg);
  z-index: -1;
  isolation: isolate;
  filter: brightness(50%);
}

.hero-btn {
  font-size: 23px;
  background-color: var(--secondary-bg-clr);
  color: var(--primary-font-clr);
  padding: 0.5em 1em;
  border-radius: 25px;
}

.btn {
  margin-block: 1.25em;
  text-transform: uppercase;
}

.btn:hover {
  transform: scale(1.05);
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 300ms;
}

.product-gallery {
  display: grid;
  grid-template-rows: 500px 500px;
  grid-template-columns: 400px 400px 400px;
  justify-content: center;
  align-items: center;
  gap: 3em;
  isolation: isolate;
}
.product-section{
  background-color: #bebebe;
}
.product-title {
  text-align: center;
  font-size: 60px;
  padding-block: 1em;
  margin: 0;
}
.product-container {
  border: 1px solid var(--primary-font-clr);
  aspect-ratio: 1/1.25;
  width: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2em;
  background-color: transparent;
  position: relative;
  color: var(--main-bg-clr);
  overflow: hidden;
}
.product-container::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-repeat: no-repeat;
  isolation: isolate;
  background-size: cover;
  filter: brightness(20%) blur(2px);
  transform: scale(1.5);
  overflow: hidden;
  background-position: center;
}
.product-container:nth-child(1)::after {
  background-image: url(/media/blue-dress.jpg);
}
.product-container:nth-child(2)::after {
  background-image: url(/media/mens-bracelet.png);
}
.product-container:nth-child(3)::after {
  background-image: url(/media/gold-earring.png);
}

.product-container:nth-child(4)::after {
  background-image: url(/media/white-heels.png);
}
.product-container:nth-child(5)::after {
  background-image: url(/media/womens-necklace.png);
}
.product-container:nth-child(6)::after {
  background-image: url(/media/grey-outfit.jpg);
}
.product-img {
  margin-inline: auto;
  height: 200px;
  aspect-ratio: 1/1;
  border-radius: 10px;
}

.price {
  font-weight: 500;
}
.description {
  font-size: 19px;
}
.product-btn {
  display: block;
  margin-block: 0.5em;
  padding: 0.5em;
  width: fit-content;
  margin-inline: auto;
  background-color: var(--secondary-bg-clr);
  color: var(--primary-bg-clr);
  border-radius: 20px;
  font-size: 23px;
}
